body {
    color: blue;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #c3ecfe;
}

ul, ol {
    color: #4e00b8;
    border-top: 2px solid #175bfd;
    padding-top: 7px;
    padding-left: 100px;
}
